/*Interwiki links.*/
a.interwiki{
  background-repeat:no-repeat; background-position:left; padding-left:18px;
  background-image:url(../filter/interwiki/pix/external.png);
}
.interwiki.wikipedia-org{background-image:url(http://en.wikipedia.org/favicon.ico)}
.interwiki.commons-wikimedia-org{background-image:url(../filter/interwiki/pix/wm-commons.png)}
.interwiki.google-com,
.interwiki.p-gd{background-image:url(http://www.google.com/favicon.ico)}
.interwiki.yahoo-com{background-image:url(http://yahoo.com/favicon.ico)}
.interwiki.moodle-org,
.interwiki.p-md{background-image:url(standard/pix/favicon.ico)}
.interwiki.docs-moodle-org{background-image:url(../pix/docs.gif)}
.interwiki.creativecommons-org,
.interwiki.p-cc{background-image:url(http://creativecommons.org/favicon.ico)}
.interwiki.gnu-org{background-image:url(http://www.gnu.org/favicon.ico)}
.interwiki.github-com{background-image:url(https://github.com/favicon.ico)}
.interwiki.bitbucket-org{background-image:url(../filter/interwiki/pix/bitbucket.png)}

._iw{cursor:url(../filter/interwiki/pix/external-png.cur), pointer;}

/*Creative Commons.*/
.interwiki.p-cc{display:inline-block; padding-left:80px; width:1px; height:15px; overflow:hidden;}
.interwiki.iw-by{background-image:url(http://i.creativecommons.org/l/by/3.0/80x15.png)}
.interwiki.iw-by-sa{background-image:url(http://i.creativecommons.org/l/by-sa/3.0/80x15.png)}
.interwiki.iw-by-sa-nc{background-image:url(http://i.creativecommons.org/l/by-sa-nc/3.0/80x15.png)}

